{% extends 'index/loggingBase.html.twig' %}

{% block loggingcard %}
<h1>Bienvenue sur TaskLinker</h1>
<h2>Commencez dès maintenant - gratuitement</h2>
<h3>Vous avez déjà un compte ?</h3>

<button class="button-submit button">Se connecter</button>
<div class="line-separator">
    <div class="hline"></div>
    <h3>ou</h3>
    <div class="hline"></div>
</div>

<button class="button">S'inscrire</button>
{% endblock %}