{% extends 'base.html.twig' %}
{% block body %}
    <!DOCTYPE html>
    <html lang="fr">
    <body>
    <div id="main-container">
        {{ include('partials/nav.html.twig') }}
        <main>
            <header>
                {% if app.user %}
                    {{ include('partials/userInitialsBadge.html.twig') }}
                {% endif %}
                <div id="title-page">
                    <h1>
                        Erreur {{ code }}: Une erreur est survenue
                    </h1>
                </div>
            </header>
            <div id="content" style="display: flex; justify-content: center">
                <p>
                    Une erreur est survenue lors du traitement de votre demande.
                </p>
            </div>
        </main>
    </div>
    </body>
    </html>
{% endblock %}